<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Management</title>
    <link rel="stylesheet" href="/static/styles_css.css">
    <link rel="stylesheet" href="/static/s1.css">

</head>
<body class="add">
    <marquee style="color: #f51414; font-size: 50px; background-color: black; " scrollamount="10">Crime Records</marquee><br>


    <a href="/add" style="font-size: 30px; color: hwb(0 4% 4%); background-color: #171816;">Add New Crime</a>
    <ul>
        {% for crime in crimes %}
            <li>
                {{ crime.crime_type }} at {{ crime.location }}
                <a href="/crime/{{ crime._id }}">View Details</a>
                <a href="/edit/{{ crime._id }}">Edit</a>
                <a href="/delete/{{ crime._id }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crime Records</title>
    <link rel="stylesheet" href="/static/styles_css.css">
    <link rel="stylesheet" href="/static/s1.css">
</head>
<body class="reccc">
    <h1 class="neonText">Crime Records</h1>
    <a href="/add">Add New Crime</a>
    <ul>
        {% for crime in crimes %}
            <li>
                {{ crime.crime_type }} at {{ crime.location }}
                <a href="{{ url_for('view_crime', crime_id=crime._id) }}">View Details</a>
                <a href="{{ url_for('edit_crime', crime_id=crime._id) }}">Edit</a>
                <a href="{{ url_for('delete_crime', crime_id=crime._id) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
